/*-----------------GLOBAL-----------------------*/

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  margin: 0;
  color: currentColor;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

address {
  font-family: normal;
}

button {
  cursor: pointer;
}

.container {
  max-width: 100%;
  width: 1158px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*----------------------------------------*/

/*-----------------HEADER-----------------------*/

.header {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
}

.header-container {
  display: flex;
  padding: 0 15px;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-navigation-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-navigation-logo:hover,
.header-navigation-logo:focus {
  color: #404bbf;
}

.logo-web {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-menu-list {
  display: flex;
  gap: 40px;
}

.header-address {
  font-style: normal;
}

.header-menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.header-address-list {
  display: flex;
  gap: 40px;
  margin-left: 332px;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.address-item-link {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-item-link:focus,
.address-item-link:hover {
  color: var(--OCEAN, #404bbf);
}

/*----------------------------------------*/

/*-----------------HERO-----------------------*/

.hero {
  padding: 188px 0px;
  height: 600px;
  flex-shrink: 0;
  background-color: var(--NAVY-BLUE, #2e2f42);
}

.hero-container {
}

.hero-title {
  color: var(--WHITE, #fff);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-bottom: 48px;
}

.hero-button-os {
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  align-items: flex-start;
  min-width: 169px;
  height: 56px;
  border: none;
  margin-left: 635px;
  margin-right: 635px;
}

.hero-button-os:focus,
.hero-button-os:hover {
  background-color: #404bbf;
}

/*----------------------------------------*/

/*-----------------VALUES-----------------------*/

.values {
  padding: 120px 0px;
}

.values-list {
  display: flex;
  gap: 24px;
}

.values-list-item {
  width: calc((100% - 24px * 3) / 4);
}

.values-item-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.values-list-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*----------------------------------------*/

/*-----------------TEAM-----------------------*/

.team {
  background: var(--CLOUD, #f4f4fd);
  padding: 120px 0px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list-item {
  width: calc((100% - 3 * 24px) / 4);

  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-personal-container {
  padding: 32px 0px;
}

.team-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-list-text {
  color: var(--SLATE, #434455);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  text-align: center;
}

/*----------------------------------------*/

/*-----------------PORTFOLIO-----------------------*/

.portfolio {
  padding: 120px 0px;
}

.portfolio-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  gap: 48px 24px;

  flex-wrap: wrap;
}

.portfolio-list-item {
  background: var(--WHITE, #fff);
  width: calc((100% - 48px) / 3);
}

.portfolio-list-img {
  background: url(<path-to-image>),
    lightgray -25.026px 0px / 125% 100% no-repeat;
}

.portfolio-card-description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list-item-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-left: 16px;
  margin-bottom: 8px;
}

.portfolio-list-iten-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-left: 16px;
}

/*----------------------------------------*/

/*-----------------FOOTER-----------------------*/

.footer {
  background: var(--NAVY-BLUE, #2e2f42);
  padding: 100px 0px;
}

.footer-logo {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-web {
  color: var(--CLOUD, #f4f4fd);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
